@model SchoolMVC.Models.SchoolMasters_SCM
@{
    ViewBag.Title = "School";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");

}

<!-- Bootstrap Select Css -->
<link href="~/Content/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Update School Details
                            <small></small>
                        </h2>
                    </div>
                    <div class="body">
                        <form>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>School Code</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_SCHOOLCODE, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "School Code" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>School Name</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_SCHOOLNAME, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "School Name" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>School Address</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_SCHOOLADDRESS1, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address 2" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Pin Code</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_PINCODE, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = " PinCode No", @maxlength = "6" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            @*<div class="form-line">*@
                                            <label>Nation</label>&nbsp;@reqField
                                            @Html.DropDownList("SCM_NATIONID", null, "Select Nation", new { @class = "form-control show-tick", required = "required" })
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            @*<div class="form-line">*@
                                            <label>State</label>&nbsp;@reqField
                                            @Html.DropDownList("SCM_STATEID", null, "Select State", new { @class = "form-control show-tick", required = "required" })
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            @*<div class="form-line">*@
                                            <label>District</label>&nbsp;@reqField
                                            @Html.DropDownList("SCM_DISTRICTID", null, "Select District", new { @class = "form-control show-tick", required = "required" })
                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="demo-masked-input">
                                        <div class="input-group">

                                            <label>School Image</label>&nbsp;@reqField

                                            <input type="file" name="SD_Photo" id="SD_Photo" class="form-control">
                                            @if (!string.IsNullOrEmpty(Model.SCM_IMAGENAME))
                                            {
                                                <div class="item">

                                                    <a href=@Model.SCM_IMAGENAME.Replace("~", "../..") target="_blank">View</a>
                                                    <input type="hidden" id="hdnImage" name="hdnImage" value="@Model.SCM_IMAGENAME">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Secretary Name</label>
                                                @Html.EditorFor(model => model.SCM_SECRETARYNAME, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Secretary Name" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Phone No</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_PHONENO1, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Phone No", @maxlength = "10" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Alternative Phone No</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_PHONENO2, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Alternative Phone No", @maxlength = "10", @number = "number" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Contact Person</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_CONTACTPERSON, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Contact Person" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Email Id</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.SCM_EMAILID, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Secretary Name" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Website</label>
                                                @Html.EditorFor(model => model.SCM_WEBSITE, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Phone No" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="btnSave" class="btn btn-danger m-t-15 waves-effect" onclick="UpdateSchool();">Update</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vertical Layout | With Floating Label -->
    </div>
</section>
<script>
    $('#SCM_PINCODE').keyup(function () {
        if (!this.value.match(/[0-9]/)) {
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });
    $('#SCM_PHONENO1').keyup(function () {
        if (!this.value.match(/[0-9]/)) {
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });
    $('#SCM_PHONENO2').keyup(function () {
        if (!this.value.match(/[0-9]/)) {
            this.value = this.value.replace(/[^0-9]/g, '');
        }
    });

</script>

<script src="~/Scripts/Appscript/School.js"></script>



