@model SchoolMVC.Models.StudetDetails_SD
@{
    ViewBag.Title = "TransportAvailedList";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");
}

@section scripts{
    @Scripts.Render("~/Scripts/Appscript/TransportSetiing.js")

}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
           
            <div class="card">
                <div class="header">
                    <h2>
                        Transport availed Student's List &nbsp;
                        @*@{ if ((bool)Session["CanAdd"] == true)
                         {*@
                              <a href="~/Masters/TransportSetting" role="button" class="btn bg-cyan waves-effect"> Set new Student</a>
                         @*}
                        }*@
                    </h2>
                </div>

                <div class="body">
                   
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Class</label>&nbsp;@reqField
                                        @Html.DropDownList("SD_ClassId", null, "Select Class", new { @class = "form-control show-tick", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <label>Section :</label>
                                    <select id="ddlSWS_SecId" class="form-control show-tick" name="ddlSWS_SecId">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>Student Id :</label>
                                        @Html.Hidden("classid")
                                        @Html.EditorFor(model => model.SD_StudentId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Student Id" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>Student Name :</label>
                                        @Html.EditorFor(model => model.SD_StudentName, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Student Name" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div style="height:18px"></div>
                            <button type="button" id="btnSearchList" style="padding: 12px;" class="btn btn-danger waves-effect m-b-15">Search</button>
                            &nbsp;
                            @*@{ if ((bool)Session["CanAdd"] == true)
                             {*@
                              
                             @*}}*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <div id="update-panel"></div>

                            </div>
                        </div>
                    </div>

                    @*<h2>
                            Student List
                        </h2>*@

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        AvailedStudentList();

        });
</script>

