@model SchoolMVC.Models.StudentAdditionalDetails_AD
@{
    ViewBag.Title = "AdditionalDetails";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Form Wizard | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Sweet Alert Css -->
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <!-- #Top Bar -->

    <section class="content">
        <div class="container-fluid">

            <!-- Basic Example | Horizontal Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Additional Informations</h2>
                        </div>
                        <div class="body">
                            <div id="wizard_horizontal">
                                <h2>Father's Info</h2>
                                <section>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's Qualification</label>
                                                        @Html.EditorFor(model => model.AD_FatherQualification, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father's Qualification" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's Occuaption</label>
                                                        @Html.Hidden("AD_Id")
                                                        @Html.EditorFor(model => model.AD_FatherOccupation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father's Occupation" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's Designation</label>
                                                        @Html.EditorFor(model => model.AD_FatherDesignation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father's Designation" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's  Moblile No</label>
                                                        @Html.EditorFor(model => model.AD_FatherMoblileNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father's  Moblile No" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's Email Id</label>
                                                        @Html.EditorFor(model => model.AD_FatherEmailId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father's Email Id" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Father's Aadhar No</label>
                                                        @Html.EditorFor(model => model.AD_FatherAadharNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father's Aadhar No" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h2>Mother's Info</h2>
                                <section>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Qualification</label>
                                                        @Html.EditorFor(model => model.AD_MotherQualification, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother's Qualifiaction" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Occupation</label>
                                                        @Html.EditorFor(model => model.AD_MotherOccupation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother's Occuaption" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Designation</label>
                                                        @Html.EditorFor(model => model.AD_MotherDesignation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother's Designation" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Moblile No</label>
                                                        @Html.EditorFor(model => model.AD_MotherMoblileNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother's Moblile No" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Email Id</label>
                                                        @Html.EditorFor(model => model.AD_MotherEmailId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother's Email Id" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Aadhar No</label>
                                                        @Html.EditorFor(model => model.AD_MotherAadharNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother's Aadhar No" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h2>Previous School Info</h2>
                                @*<section>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Previous School Name</label>
                                                        @Html.EditorFor(model => model.AD_PreviousSchool, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Previous School Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">School Address</label>                                                      
                                                       @Html.EditorFor(model => model.AD_PreviousSchoolAddress, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Previous School Address" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Phone No</label>
                                                        @Html.EditorFor(model => model.AD_PreviousSchoolPhoneNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Phone No" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                     
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <label id="lbl">School Type</label>
                                                    @Html.DropDownList("AD_PreviousSchoolType", null, "Select Language", new { @class = "form-control show-tick", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                   
                                                    <label id="lbl">Language of Instruction</label>
                                                    @Html.DropDownList("AD_PreviousSchoolLanguageId", null, "Select Language", new { @class = "form-control show-tick", required = "required" })
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    
                                                    <label id="lbl">Board Affiliated to</label>
                                                   @Html.DropDownList("AD_PreviousSchoolBoardId", null, "Select Board", new { @class = "form-control show-tick", required = "required" })
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                   
                                                    <label id="lbl">Country</label>
                                                    @Html.DropDownList("AD_PreviousSchoolCountryId", null, "Select Country", new { @class = "form-control show-tick", required = "required" })
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    
                                                    <label id="lbl">State</label>
                                                    @Html.DropDownList("AD_PreviousSchoolStateId", null, "Select State", new { @class = "form-control show-tick", required = "required" })
                                                   
                                                </div>
                                            </div>
                                        </div>                                                                          
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                   
                                                    <label id="lbl">City</label>
                                                    @Html.DropDownList("AD_PreviousSchoolCity", null, "Select City", new { @class = "form-control show-tick", required = "required" })
                                                   
                                                </div>
                                            </div>
                                        </div>                                       
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <label>Postal Code</label>
                                                    @Html.EditorFor(model => model.AD_PreviousSchoolPin, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                   
                                                    <label>Last Class Attended</label>
                                                    @Html.EditorFor(model => model.AD_LastClassId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
                                                   
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </section>*@
                                <section>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's Qualifiaction</label>
                                                        @Html.EditorFor(model => model.AD_FatherQualification, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Form No." } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father Occuaption</label>
                                                        @Html.Hidden("SD_Id")
                                                        @Html.EditorFor(model => model.AD_FatherOccupation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Student Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father Designation</label>
                                                        @Html.EditorFor(model => model.AD_FatherDesignation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's  Moblile No</label>
                                                        @Html.EditorFor(model => model.AD_FatherMoblileNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">FatherEmailId</label>
                                                        @Html.EditorFor(model => model.AD_FatherEmailId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Father's Aadhar No</label>
                                                        @Html.EditorFor(model => model.AD_FatherAadharNo, new { htmlAttributes = new { @class = "form-control Date01", required = "required", placeholder = "Date of Birth" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    .
                                                    <div class="form-line">
                                                        <label>Mother's Qualifiaction</label>
                                                        @Html.EditorFor(model => model.AD_MotherQualification, new { htmlAttributes = new { @class = "form-control Date01", required = "required", placeholder = "Date of Birth" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <label>Mother's Occuaption</label>
                                                    @Html.EditorFor(model => model.AD_MotherOccupation, new { htmlAttributes = new { @class = "form-control Date01", required = "required", placeholder = "Date of Birth" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>AD_MotherDesignation</label>
                                                        @Html.EditorFor(model => model.AD_MotherDesignation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    @*<div class="form-line">*@
                                                    <label>Mother's Moblile No</label>
                                                    @Html.EditorFor(model => model.AD_MotherMoblileNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
                                                    @*</div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    @*<div class="form-line">*@
                                                    <label>AD_MotherEmailId</label>
                                                    @Html.EditorFor(model => model.AD_MotherEmailId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
                                                    @*</div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Aadhar No</label>
                                                        @Html.EditorFor(model => model.AD_MotherAadharNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Pin Code", @maxlength = "6" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <h2>Health Info</h2>
                                <section>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's Qualifiaction</label>
                                                        @Html.EditorFor(model => model.AD_FatherQualification, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Form No." } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father Occuaption</label>
                                                        @Html.Hidden("SD_Id")
                                                        @Html.EditorFor(model => model.AD_FatherOccupation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Student Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father Designation</label>
                                                        @Html.EditorFor(model => model.AD_FatherDesignation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Father Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">Father's  Moblile No</label>
                                                        @Html.EditorFor(model => model.AD_FatherMoblileNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label id="lbl">FatherEmailId</label>
                                                        @Html.EditorFor(model => model.AD_FatherEmailId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Mother Name" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Father's Aadhar No</label>
                                                        @Html.EditorFor(model => model.AD_FatherAadharNo, new { htmlAttributes = new { @class = "form-control Date01", required = "required", placeholder = "Date of Birth" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    .
                                                    <div class="form-line">
                                                        <label>Mother's Qualifiaction</label>
                                                        @Html.EditorFor(model => model.AD_MotherQualification, new { htmlAttributes = new { @class = "form-control Date01", required = "required", placeholder = "Date of Birth" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <label>Mother's Occuaption</label>
                                                    @Html.EditorFor(model => model.AD_MotherOccupation, new { htmlAttributes = new { @class = "form-control Date01", required = "required", placeholder = "Date of Birth" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>AD_MotherDesignation</label>
                                                        @Html.EditorFor(model => model.AD_MotherDesignation, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    @*<div class="form-line">*@
                                                    <label>Mother's Moblile No</label>
                                                    @Html.EditorFor(model => model.AD_MotherMoblileNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
                                                    @*</div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    @*<div class="form-line">*@
                                                    <label>AD_MotherEmailId</label>
                                                    @Html.EditorFor(model => model.AD_MotherEmailId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Address" } })
                                                    @*</div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                            <div class="demo-masked-input">
                                                <div class="input-group">
                                                    <div class="form-line">
                                                        <label>Mother's Aadhar No</label>
                                                        @Html.EditorFor(model => model.AD_MotherAadharNo, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Pin Code", @maxlength = "6" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/Content/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Jquery Validation Plugin Css -->
    <script src="~/Content/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- JQuery Steps Plugin Js -->
    <script src="~/Content/plugins/jquery-steps/jquery.steps.js"></script>
    <!-- Sweet Alert Plugin Js -->
    <script src="~/Content/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/plugins/node-waves/waves.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/js/admin.js"></script>
    <script src="~/Content/js/pages/forms/form-wizard.js"></script>
    <!-- Demo Js -->
    <script src="~/Content/js/demo.js"></script>
</body>