@model SchoolMVC.Models.HostelTransactionMaster_HTM
@{
    ViewBag.Title = "HostelFeesCollection";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");

}
@section scripts{

    @Scripts.Render("~/Scripts/Appscript/HostelFeesCollection.js")
}
<link href="~/Content/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<style>
    /* Remove default checkbox */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: unset;
        left: 0px;
        opacity: unset;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Hostel Fees Collection
                            @{ if ((bool)Session["CanAdd"] == true)
                                {
                            <a href="~/StudentManagement/HosteltFeesCollectionList" role="button" style="padding: 12px;" class="btn bg-cyan waves-effect m-b-15"> View List</a>
                            }}
                                
                            <small></small>
                        </h2>
                    </div>
                    <div class="body">
                        <form>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>Student Id :</label>&nbsp;@reqField
                                                @Html.EditorFor(model => model.HTM_StudentId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Student Id" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="btnSearch" class="btn btn-primary m-t-15 waves-effect">Search</button>
                            </div>


                            <div class="ln_solid"></div>

                            <div class="table-responsive">
                                <div id="update-panel"></div>

                            </div>
                            
                            <div id="dvPaymentdetails" >
                                <div class="row clearfix">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Total Amount: </label>&nbsp;@reqField
                                                @Html.TextBoxFor(m => m.HFD_PaidAmount, new { @class = "form-control show-tick allow_decimal", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="demo-masked-input">
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <label>Fees Date : </label>&nbsp;@reqField
                                                    <div class="datepicker-wrapper">
                                                        @Html.TextBoxFor(m => m.HFD_FeesCollectionDate, new { @class = "form-control datepicker", @readonly = "readonly", Value = Model.HFD_FeesCollectionDateS })
                                                        <span class="calendar-icon material">
                                                            <i class="material-icons">event</i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <br />
                                                @Html.Hidden("ChkId")
                                                <label>PayMode:</label>&nbsp;@reqField
                                                @*@Html.RadioButtonFor(m => m.HFD_Paymentmode, "Cash", new { @class = "with-gap radio-col-purple", id = "radio_Cash" }) @Html.Label("radio_Cash", "Cash")*@
                                                @Html.RadioButtonFor(m => m.HFD_Paymentmode, "Cheque", new { @class = "with-gap radio-col-purple", id = "radio_Cheque" }) @Html.Label("radio_Cheque", "Cheque")
                                                @Html.RadioButtonFor(m => m.HFD_Paymentmode, "DD", new { @class = "with-gap radio-col-purple", id = "radio_DD" }) @Html.Label("radio_DD", "DD")
                                                @Html.RadioButtonFor(m => m.HFD_Paymentmode, "Card", new { @class = "with-gap radio-col-purple", id = "radio_Card" }) @Html.Label("radio_Card", "Card")
                                                @Html.RadioButtonFor(m => m.HFD_Paymentmode, "Online", new { @class = "with-gap radio-col-purple", id = "radio_Online" })@Html.Label("radio_Online", "Online")


                                            </div>
                                        </div>
                                    </div>
                                <div class="row clearfix" id="Div_PayDetails" style="display:none;">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                                <label>Bank Name: </label>
                                                @*@Html.DropDownList("HFD_BankId", null, "Select Bank", new { @class = "form-control show-tick", required = "required" })*@
                                            @Html.DropDownList("HFD_BankId", null, "Select Bank", new { @class = "form-control show-tick", required = "required" })


                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Branch Name: </label>
                                                @Html.TextBoxFor(m => m.HFD_BranchName, new { @class = "form-control show-tick" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Cheq/DD/Card No: </label>
                                                @Html.TextBoxFor(m => m.HFD_CheqDDNo, new { @class = "form-control show-tick" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" id="Div_ChqDate">
                                        <div class="demo-masked-input">
                                            <div class="input-group">
                                                <div class="form-line">
                                                    <label>Chq/DD.Date: </label>
                                                    <div class="datepicker-wrapper">
                                                        @Html.TextBoxFor(m => m.HFD_CheqDDDate, new { @class = "form-control datepicker", @readonly = "readonly", Value = Model.HFD_CheqDDDateS })
                                                        <span class="calendar-icon material">
                                                            <i class="material-icons">event</i>
                                                        </span>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="Div_TrnsRefNo" style="display:none;">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Transaction Reference No: </label>
                                                    @Html.TextBoxFor(m => m.HFD_Card_TrnsRefNo, new { @class = "form-control show-tick" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <div class="form-group">

                                        <button type="button" id="btnSave" class="btn btn-success m-t-15 waves-effect" style="display:none">Save</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vertical Layout | With Floating Label -->
    </div>
</section>



<script type="text/javascript">
    $("#HTM_StudentId").on("input", function () {
        $(this).val($(this).val().replace(/^\s+/, ""));
    });
</script>