@model SchoolMVC.Areas.FeesCollection.Models.AdmissionFeesModel
@{
    string action = ViewBag._Action;
    string viewaction = ViewBag._ViewAction;
    var buttonText = action.Equals("add") ? "Submit" : "Update";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");

}
<style>
    .sl-col {
        width: 50px;
        text-align: center;
    }
    .wave:checked {
    accent-color: #ff9800;
}

tr:has(.wave:checked) {
    background-color: #fff3e0;
    opacity: 0.7;
}
    /* Hide Fees Amt & Total Ins columns */
    #StudentFeesGrid th:nth-child(4),
    #StudentFeesGrid td:nth-child(4),
    #StudentFeesGrid th:nth-child(5),
    #StudentFeesGrid td:nth-child(5) {
        display: none !important;
    }
</style>
@if (Model.StudentFees != null && Model.StudentFees.Count > 0)
{
    <div class="body">
        <h2 class="card-inside-title"><u>Fees Details:</u></h2>
        <div class="row clearfix">
            <div class="body table-responsive">
                @if (Model.StudentFees != null && Model.StudentFees.Count > 0)
                {
                    var Grid = new WebGrid(source: Model.StudentFees, canPage: false);
                    @MvcHtmlString.Create(Grid.GetHtml(
                        htmlAttributes: new { id = "StudentFeesGrid", name = "StudentFeesGrid" },
                        tableStyle: "table table-bordered",
                        headerStyle: "gridTBodyColor",
                        columns: Grid.Columns(
                                               Grid.Column(header: "SL", format: @item => { int slNo = item.WebGrid.Rows.IndexOf(item) + 1; return slNo; }, style: "sl-col aligncenter", canSort: false),
                                              // Grid.Column(header: "Wave",format: item =>{int i = item.WebGrid.Rows.IndexOf(item);string html = string.Format("<input type='checkbox' class='filled-in chk-col-green wave' " + "id='IsWave_{0}' name='StudentFees[{0}].IsWave' value='true' />" +"<label for='IsWave_{0}'></label>", i );return MvcHtmlString.Create(html);},style: "aligncenter",canSort: false),
                                                   Grid.Column(header: "Wave", format: item =>
     {
         int i = item.WebGrid.Rows.IndexOf(item);
         string html = string.Format(
             "<input type='checkbox' class='filled-in chk-col-green wave' " +
             "id='IsWave_{0}' name='StudentFees[{0}].IsWaveChecked' value='true' />" +
             "<label for='IsWave_{0}'></label>", i);
         return MvcHtmlString.Create(html);
     },
     style: "aligncenter", canSort: false),
     

                                              Grid.Column(header: "Fees Name", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].FeesName, new { htmlAttributes = new { @readonly = "readonly", @style = "width:120px" } }) + "" + Html.HiddenFor(m => m.StudentFees[i].FeesId)); }, style: "aligncenter"),
                        //Grid.Column(header: "Fees Amt", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].FeesAmount, new { htmlAttributes = new { @readonly = "readonly", @style = "width:76px" } }) + "" + Html.HiddenFor(m => m.StudentFees[i].ClassId)); }, style: "alignright"),
                        //Grid.Column(header: "Total Ins", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return Html.EditorFor(m => m.StudentFees[i].NoOfFins, new { htmlAttributes = new { @readonly = "readonly", @style = "width:38px" } }); }, style: "aligncenter"),
                        //Grid.Column(header: "Ins No", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].InstallmentNo, new { htmlAttributes = new { @readonly = "readonly", @style = "width:38px" } }) + "" + Html.HiddenFor(m => m.StudentFees[i].NoOfInstallment)); }, style: "aligncenter"),
                                               Grid.Column(header: "Fees Amt", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].FeesAmount).ToHtmlString() + Html.HiddenFor(m => m.StudentFees[i].FeesAmount).ToHtmlString()); }),
                                               Grid.Column(header: "Total Ins", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].NoOfFins).ToHtmlString() + Html.HiddenFor(m => m.StudentFees[i].NoOfFins).ToHtmlString()); }),
                                               Grid.Column(header: "Ins No", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return Html.EditorFor(m => m.StudentFees[i].InstallmentNo, new { htmlAttributes = new { @readonly = "readonly", style = "width:70px" } }); }),
                                               Grid.Column(header: "Month", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return Html.TextBox("StudentFees[" + i + "].DueMonth", "", new { @class = "form-control due-month month-col", @readonly = "readonly", style = "width:80px;" }); }, style: "width:50px; text-align:center;"),
                                               Grid.Column(header: "Due Date", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return Html.EditorFor(m => m.StudentFees[i].DueDate, new { htmlAttributes = new { @readonly = "readonly", @style = "width:88px" } }); }, style: "aligncenter"),
                                               Grid.Column(header: "Ins Amt", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].InsAmount, new { htmlAttributes = new { @readonly = "readonly", @style = "width:76px" } }) + "" + Html.HiddenFor(m => m.StudentFees[i].ClassFeesId)); }, style: "alignright"),
                                               Grid.Column(header: "Pmnt Amnt", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].PaymentAmount, new { htmlAttributes = new { @class = "allow_decimal payamt", @style = "width:76px" } }) + "" + Html.HiddenFor(m => m.StudentFees[i].IsPaidChecked)); }, style: "alignright"),
                                               Grid.Column(header: "Paid", format: @<text><input id="selectIsPaid_@item.FeesId@item.InstallmentNo" class="filled-in chk-col-green paid" name="selectIsPaid_@item.FeesId@item.InstallmentNo" type="checkbox" value="@item.IsPaid" checked="@item.IsPaid" /><label for="selectIsPaid_@item.FeesId@item.InstallmentNo" /></text>, style: "aligncenter"),
                                               Grid.Column(header: "Disc.Amnt", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return MvcHtmlString.Create(Html.EditorFor(m => m.StudentFees[i].AdustAmnt, new { htmlAttributes = new { @class = "allow_decimal discamt", @style = "width:65px" } }) + "" + Html.HiddenFor(m => m.StudentFees[i].IsDiscChecked)); }, style: "alignright"),
                                               Grid.Column(header: "Disc", format: @<text><input id="selectIsDisc_@item.FeesId@item.InstallmentNo" class="filled-in chk-col-green disc" name="selectIsDisc_@item.FeesId@item.InstallmentNo" type="checkbox" value="@item.IsDisc" checked="@item.IsDisc" /><label for="selectIsDisc_@item.FeesId@item.InstallmentNo" /></text>, style: "aligncenter"),
                                               Grid.Column(header: "Due Amnt", format: @item => { int i = item.WebGrid.Rows.IndexOf(item); return Html.EditorFor(m => m.StudentFees[i].DueAmt, new { htmlAttributes = new { @readonly = "readonly", @style = "width:76px" } }); }, style: "alignright"))).ToHtmlString())}
            </div>
        </div>
        @Html.HiddenFor(m => m.feesCollectionId, new { })
        @Html.HiddenFor(m => m.StudentInformation.formNo, new { })
        @Html.HiddenFor(m => m.StudentInformation.AdmissionNo, new { })
        @Html.HiddenFor(m => m.StudentInformation.ClassId, new { })
        @Html.HiddenFor(m => m.StudentInformation.SD_StudentCategoryId, new { })
        @Html.HiddenFor(m => m.PaymodeType, new { })
        @Html.HiddenFor(m => m.payCash, new { })
        @Html.HiddenFor(m => m.payCheque, new { })
        @Html.HiddenFor(m => m.payDD, new { })
        @Html.HiddenFor(m => m.payCard, new { })
        @Html.HiddenFor(m => m.PaymodeType, new { id = "PaymodeType" })
        <div class="row clearfix">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-line">
                        <label>Total Amount:</label>
                        @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control show-tick allow_decimal", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-line">
                        <label>Paid Amount: </label>
                        @Html.TextBoxFor(m => m.PaidAmount, new { @class = "form-control show-tick allow_decimal", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-line">
                        <label>Discount:</label>
                        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control show-tick allow_decimal", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-line">
                        <label>Total Due:</label>
                        @Html.TextBoxFor(m => m.TotalDue, new { @class = "form-control show-tick allow_decimal", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-line">
                        <label>Wave Amount:</label>
                        @Html.TextBoxFor(m => m.WaveAmount,
                new { @class = "form-control show-tick allow_decimal", @readonly = "readonly", id = "WaveAmount" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="form-line">
                        <label>Approved By:</label>&nbsp;@reqField
                        @Html.TextBoxFor(m => m.DiscountedBy, new { @class = "form-control show-tick" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="demo-masked-input">
                    <div class="input-group">
                        <div class="form-line">
                            <label>Fees Date:</label>
                            <div class="datepicker-wrapper">
                                @Html.TextBoxFor(m => m.FeesDate, new { @class = "form-control datepicker", @readonly = "readonly", Value = Model.FeesDateS })
                                <span class="calendar-icon material">
                                    <i class="material-icons">event</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>PayMode:</label>
                    @*@Html.RadioButtonFor(m => m.Paymode, "Cash", new { @class = "with-gap radio-col-purple", id = "radio_Cash" }) @Html.Label("radio_Cash", "Cash")*@
                    @Html.RadioButtonFor(m => m.Paymode, "Cheque", new { @class = "with-gap radio-col-purple", id = "radio_Cheque" }) @Html.Label("radio_Cheque", "Cheque")
                    @Html.RadioButtonFor(m => m.Paymode, "DD", new { @class = "with-gap radio-col-purple", id = "radio_DD" }) @Html.Label("radio_DD", "DD")
                    @Html.RadioButtonFor(m => m.Paymode, "Card", new { @class = "with-gap radio-col-purple", id = "radio_Card" }) @Html.Label("radio_Card", "Card")
                    @Html.RadioButtonFor(m => m.Paymode, "Online", new { @class = "with-gap radio-col-purple", id = "radio_Online" }) @Html.Label("radio_Online", "Online")

                </div>
            </div>
        </div>
        <div class="row clearfix" id="Div_PayDetails" style="display:none;">
            <div class="col-sm-3" id="Div_BankName">
                <div class="form-group">
                    <div class="form-line">
                        <label>Bank Name:</label>
                        @Html.TextBoxFor(m => m.BankName, new { @class = "form-control show-tick" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="Div_BranchName">
                <div class="form-group">
                    <div class="form-line">
                        <label>Branch Name:</label>
                        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control show-tick" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="Div_ChqDDNo">
                <div class="form-group">
                    <div class="form-line">
                        <label>Cheq/DD.No/Card No:</label>
                        @Html.TextBoxFor(m => m.CheqDDNo, new { @class = "form-control show-tick" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="Div_ChqDate" style="display:none;">
                <div class="demo-masked-input">
                    <div class="input-group">
                        <div class="form-line">
                            <label>Chq/DD.Date:</label>
                            <div class="datepicker-wrapper">
                                @Html.TextBoxFor(m => m.CheqDDDate, new { @class = "form-control datepicker", @readonly = "readonly", Value = Model.CheqDDDateS })
                                <span class="calendar-icon material">
                                    <i class="material-icons">event</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="Div_TrnsRefNo" style="display:none;">
                <div class="form-group">
                    <div class="form-line">
                        <label>Transaction Reference No:</label>
                        @Html.TextBoxFor(m => m.Card_TrnsRefNo, new { @class = "form-control show-tick" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="demo-masked-input">
                    <div class="input-group">
                        <input type="submit" style="padding: 8px;" class="btn btn-success m-t-15 waves-effect" formaction="~/FeesCollection/FeesCollection/AdmissionFeesCollection" id="btnSubmit" value=@buttonText />
                        &nbsp;<input type="Reset" style="padding: 8px;" class="btn btn-danger m-t-15 waves-effect" value="Reset" />
                        &nbsp;<a href="~/FeesCollection/FeesCollection/FeesCollectionList" style="padding: 8px;" class="btn btn-info m-t-15 waves-effect">BackToList</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        $("#StudentFeesGrid tbody tr").each(function () {

            var dueDateVal = $(this).find("input[name$='.DueDate']").val();

            if (dueDateVal) {

                // Expected format: dd/MM/yyyy
                var parts = dueDateVal.split('/');
                if (parts.length === 3) {

                    var day = parseInt(parts[0], 10);
                    var month = parseInt(parts[1], 10) - 1; // JS months are 0-based
                    var year = parseInt(parts[2], 10);

                    var dateObj = new Date(year, month, day);

                    var shortMonth = dateObj.toLocaleString('en-US', { month: 'short' });
                    var yearShort = year.toString().slice(-2);

                    $(this).find(".due-month").val(shortMonth + "-" + yearShort);
                }
            }
        });

    });
</script>