@model SchoolMVC.Models.StudentApplication_AP
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_SchoolOnlineDashboard.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade in toast-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Success"]
    </div>

}
@using (Html.BeginForm("Apply", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                   
                </h2>
            </div>
            <!-- Basic Example | Horizontal Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <br />
                            <br />
                            <h2><b>Admission Form</b></h2>
                            <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                       
                                    </li>
                                </ul>
                        </div>
                        <div class="body">
                                <section>
                                    <div class="panel panel-primary setup-content" id="step-1">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Basic Details</h3>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row clearfix">
                                                <div class="col-md-3">
                                                    <label class="control-label">Academic Session</label>
                                                    <select id="SA_ST_SESSION" name="SA_ST_SESSION" class="form-control show-tick" required="required">
                                                        <option value="25-26" selected>2025-2026</option>

                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">School</label>
                                                    <select id="ddlSchool" name="AP_School" class="form-control show-tick" required="required">
                                                        <option value="0">Select School</option>
                                                    </select>
                                                  
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Applied Class</label>
                                                    <select id="ddlClass" name="SA_ST_CLASS" class="form-control show-tick" required="required">
                                                        <option value="0">Select Class</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Gender</label>
                                                    <select id="AP_Gender" name="AP_Gender" class="form-control show-tick" required="required">
                                                        <option value="" disabled selected>Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="col-md-3 ">
                                                    <label class="control-label">Nationality</label>
                                                    <select id="AP_Nationality" name="AP_Nationality" class="form-control show-tick" required="required">
                                                        <option value="" disabled selected>Select Nationality</option>
                                                        <option value="Indian">Indian</option>
                                                        <option value="Forenier">Forenier</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3 ">
                                                    <label class="control-label">Religion</label>
                                                    <select id="AP_Religion" name="AP_Religion" class="form-control show-tick" required="required">
                                                        <option value="" disabled selected>Select Religion</option>
                                                        <option value="Hinduism">Hinduism</option>
                                                        <option value="Islam">Islam</option>
                                                        <option value="Buddhism">Buddhism</option>
                                                        <option value="Christianity">Christianity</option>
                                                        <option value="Jainism">Jainism</option>
                                                        <option value="Sikhism">Sikhism</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Caste</label>
                                                    <select id="AP_Caste" name="AP_Caste" class="form-control show-tick" required="required">
                                                        <option value="" disabled selected>Select Caste</option>
                                                        <option value="General">General</option>
                                                        <option value="SC">SC</option>
                                                        <option value="ST">ST</option>
                                                        <option value="OBC">OBC</option>
                                                        <option value="OBC-A">OBC-A</option>
                                                        <option value="OBC-B">OBC-B</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Blood Group</label>
                                                    <select id="AP_BloodGroup" name="AP_BloodGroup" class="form-control show-tick" required>
                                                        <option value="" disabled selected>Select Blood Group</option>
                                                        <option value="A">A</option>
                                                        <option value="A+">A+</option>
                                                        <option value="B">B</option>
                                                        <option value="B+">B+</option>
                                                        <option value="O">O</option>
                                                        <option value="O+">O+</option>
                                                        <option value="OT">Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Aadhaar Number</label>
                                                        <div class="form-line">
                                                            @*<input type="text" class="form-control" id="AP_AadhaarNo" name="AP_AadhaarNo" required="required" placeholder="Enter Aadhaar Number" maxlength="12" />*@
                                                            @Html.TextBoxFor(m => m.AP_AadhaarNo, new { @class = "form-control", maxlength = "12", placeholder = "Enter Aadhaar Number" })
                                                            @Html.ValidationMessageFor(m => m.AP_AadhaarNo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                              
                                <section>
                                    <div class="panel panel-primary setup-content" id="step-2">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Address Details</h3>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row clearfix">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Permanent Address</label>
                                                        <div class="form-line">
                                                            @*<input type="text" class="form-control" id="AP_PerAddress" name="AP_PerAddress" required="required" placeholder="Permanent Address" maxlength="500" />*@
                                                      
                                                            @Html.TextBoxFor(m => m.AP_PerAddress, new { @class = "form-control", placeholder = "Permanent Address" })
                                                            @Html.ValidationMessageFor(m => m.AP_PerAddress, "", new { @class = "text-danger" })  </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Present Address</label>
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="AP_PreAddress" name="AP_PreAddress" required="required" placeholder="Present Address" maxlength="500" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 ">
                                                    <label class="control-label">State</label>
                                                    <select id="state" name="state" class="form-control show-tick" required="required">
                                                        <option value="" disabled selected>Select State</option>
                                                        <option value="AN">Andaman and Nicobar Islands</option>
                                                        <option value="AP">Andhra Pradesh</option>
                                                        <option value="AR">Arunachal Pradesh</option>
                                                        <option value="AS">Assam</option>
                                                        <option value="BR">Bihar</option>
                                                        <option value="CH">Chandigarh</option>
                                                        <option value="CT">Chhattisgarh</option>
                                                        <option value="DN">Dadra and Nagar Haveli</option>
                                                        <option value="DD">Daman and Diu</option>
                                                        <option value="DL">Delhi</option>
                                                        <option value="GA">Goa</option>
                                                        <option value="GJ">Gujarat</option>
                                                        <option value="HR">Haryana</option>
                                                        <option value="HP">Himachal Pradesh</option>
                                                        <option value="JK">Jammu and Kashmir</option>
                                                        <option value="JH">Jharkhand</option>
                                                        <option value="KA">Karnataka</option>
                                                        <option value="KL">Kerala</option>
                                                        <option value="LA">Ladakh</option>
                                                        <option value="LD">Lakshadweep</option>
                                                        <option value="MP">Madhya Pradesh</option>
                                                        <option value="MH">Maharashtra</option>
                                                        <option value="MN">Manipur</option>
                                                        <option value="ML">Meghalaya</option>
                                                        <option value="MZ">Mizoram</option>
                                                        <option value="NL">Nagaland</option>
                                                        <option value="OR">Odisha</option>
                                                        <option value="PY">Puducherry</option>
                                                        <option value="PB">Punjab</option>
                                                        <option value="RJ">Rajasthan</option>
                                                        <option value="SK">Sikkim</option>
                                                        <option value="TN">Tamil Nadu</option>
                                                        <option value="TG">Telangana</option>
                                                        <option value="TR">Tripura</option>
                                                        <option value="UP">Uttar Pradesh</option>
                                                        <option value="UT">Uttarakhand</option>
                                                        <option value="WB">West Bengal</option>
                                                        <option value="OT">Others</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-3 ">
                                                    <label class="control-label">District</label>
                                                    <select id="district" name="district" class="form-control show-tick" required="required">
                                                        <option value="" >Select District</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row clearfix">

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Police Station</label>
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="AP_PoliceStation" name="AP_PoliceStation" required="required" placeholder="Police Station" maxlength="500" />
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Post Office</label>
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="AP_PO" name="AP_PO" required="required" placeholder="Post Office" maxlength="50" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Pin</label>
                                                        <div class="form-line">
                                                            @*<input type="text" class="form-control" id="AP_Pin" name="AP_Pin" required="required" placeholder="Enter Pin" maxlength="6" />*@
                                                            @Html.TextBoxFor(m => m.AP_Pin, new { @class = "form-control", maxlength = "6", placeholder = "Enter Pin" })
                                                            @Html.ValidationMessageFor(m => m.AP_Pin, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            

                                        </div>

                                    </div>
                                </section>

                              
                                <section>
                                    <div class="panel panel-primary setup-content" id="step-3">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Previous School Information</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row clearfix">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Last School Name</label>
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="AP_LastSchoolName" name="AP_LastSchoolName" required="required" placeholder="Enter Last School Name" maxlength="500" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label" for="AP_TCNO">TC No</label>
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="AP_TCNO" name="AP_TCNO" required="required" placeholder="TC No" maxlength="50" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-3 ">
                                                    <label for="AP_TCDate">TC Date</label>
                                                    <input type="date" id="AP_TCDate" name="AP_TCDate" class="form-control"  />
                                                </div>

                                                <div class="col-md-3 ">
                                                    <label for="AP_TCTYPE">TC Type</label>
                                                    <select id="AP_TCTYPE" name="AP_TCTYPE" class="form-control show-tick" required>
                                                        <option value="" disabled selected>Select TC Type</option>
                                                        <option value="Internal">Internal</option>
                                                        <option value="External">External</option>
                                                        <option value="Normal">Normal</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row clearfix">

                                                <div class="col-md-3">
                                                    <label for="AP_AdmissionDate">Admission Date</label>
                                                    <input type="date" id="AP_AdmissionDate" name="AP_AdmissionDate" class="form-control"  />
                                                </div>
                                               
                                            </div>
                                        </div>


                                    </div>
                                </section>

                              
                                <section>
                                    <div class="panel panel-primary setup-content" id="step-4">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Upload Documents</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row clearfix">
                                                <div class="col-md-4 ">
                                                    <label for="AP_BirthCertificate">Birth Certificate</label>
                                                   @* @Html.TextBoxFor(m => m.AP_BirthCertificate, new { @class = "form-control-file", type = "file" })*@
                                                    @Html.TextBoxFor(m => m.AP_BirthCertificate, new { @type = "file", @class = "form-control-file" })
                                                    @Html.ValidationMessageFor(m => m.AP_BirthCertificate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-4 ">
                                                    <label for="AP_IdProof">Id Proof</label>
                                                   @* @Html.TextBoxFor(m => m.AP_IdProof, new { @class = "form-control-file", type = "file" })*@
                                                    @Html.TextBoxFor(m => m.AP_IdProof, new { @type = "file", @class = "form-control-file" })
                                                    @Html.ValidationMessageFor(m => m.AP_IdProof, "", new { @class = "text-danger" })


                                                </div>
                                                <div class="col-md-4 ">
                                                    <label for="AP_Marksheet">Marksheet / Transfer Certificate</label>
                                                    @Html.TextBoxFor(m => m.AP_Marksheet, new { @class = "form-control-file", type = "file" })
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </section>

                            <section>
                               
                                   
                                    <div class="panel-body">
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary waves-effect pull-right">Submit</button>
                                               
                                               
                                            </div>
                                            <div class="col-md-6">
                                               
                                                <button type="button" id="resetBtn" class="btn bg-blue-grey waves-effect">Reset</button>

                                            </div>
                                        </div>
                                    </div>
                                    
                            </section>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Example | Horizontal Layout -->

        </div>
    </section>


}

<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/bootstrap/js/bootstrap.js"></script>
<script src="~/Scripts/Appscript/Apply.js"></script>
@*<script>
    setTimeout(function () {
        var alert = document.querySelector('.toast-alert');
        if (alert) {
            alert.classList.add('hide');
            setTimeout(function () {
                alert.remove();
            }, 500);
        }
    }, 4000);



    $(window).on('load', function () {
        $('.page-loader-wrapper').fadeOut();
    });
    var stateDistricts = {
        "AN": ["Nicobar", "North Middle Andaman", "South Andaman"],
        "AP": ["Anantapur", "Chittoor", "East Godavari", "Guntur", "Kadapa", "Krishna", "Kurnool", "Prakasam", "Nellore", "Srikakulam", "Visakhapatnam", "Vizianagaram", "West Godavari"],
        "AR": ["Anjaw", "Changlang", "Dibang Valley", "East Kameng", "East Siang", "Kra Daadi", "Kurung Kumey", "Lohit", "Longding", "Lower Dibang Valley", "Lower Subansiri", "Namsai", "Papum Pare", "Siang", "Tawang", "Tirap", "Upper Siang", "Upper Subansiri", "West Kameng", "West Siang", "Itanagar"],
        "AS": ["Baksa", "Barpeta", "Biswanath", "Bongaigaon", "Cachar", "Charaideo", "Chirang", "Darrang", "Dhemaji", "Dhubri", "Dibrugarh", "Goalpara", "Golaghat", "Hailakandi", "Hojai", "Jorhat", "Kamrup Metropolitan", "Kamrup (Rural)", "Karbi Anglong", "Karimganj", "Kokrajhar", "Lakhimpur", "Majuli", "Morigaon", "Nagaon", "Nalbari", "Dima Hasao", "Sivasagar", "Sonitpur", "South Salmara Mankachar", "Tinsukia", "Udalguri", "West Karbi Anglong"],
        "BR": ["Araria", "Arwal", "Aurangabad", "Banka", "Begusarai", "Bhagalpur", "Bhojpur", "Buxar", "Darbhanga", "East Champaran", "Gaya", "Gopalganj", "Jamui", "Jehanabad", "Kaimur", "Katihar", "Khagaria", "Kishanganj", "Lakhisarai", "Madhepura", "Madhubani", "Munger", "Muzaffarpur", "Nalanda", "Nawada", "Patna", "Purnia", "Rohtas", "Saharsa", "Samastipur", "Saran", "Sheikhpura", "Sheohar", "Sitamarhi", "Siwan", "Supaul", "Vaishali", "West Champaran"],
        "CH": ["Chandigarh"],
        "CT": ["Balod", "Baloda Bazar", "Balrampur", "Bastar", "Bemetara", "Bijapur", "Bilaspur", "Dantewada", "Dhamtari", "Durg", "Gariaband", "Janjgir Champa", "Jashpur", "Kabirdham", "Kanker", "Kondagaon", "Korba", "Koriya", "Mahasamund", "Mungeli", "Narayanpur", "Raigarh", "Raipur", "Rajnandgaon", "Sukma", "Surajpur", "Surguja"],
        "DN": ["Dadra Nagar Haveli"],
        "DD": ["Daman", "Diu"],
        "DL": ["Central Delhi", "East Delhi", "New Delhi", "North Delhi", "North East Delhi", "North West Delhi", "Shahdara", "South Delhi", "South East Delhi", "South West Delhi", "West Delhi"],
        "GA": ["North Goa", "South Goa"],
        "GJ": ["Ahmedabad", "Amreli", "Anand", "Aravalli", "Banaskantha", "Bharuch", "Bhavnagar", "Botad", "Chhota Udaipur", "Dahod", "Dang", "Devbhoomi Dwarka", "Gandhinagar", "Gir Somnath", "Jamnagar", "Junagadh", "Kheda", "Kutch", "Mahisagar", "Mehsana", "Morbi", "Narmada", "Navsari", "Panchmahal", "Patan", "Porbandar", "Rajkot", "Sabarkantha", "Surat", "Surendranagar", "Tapi", "Vadodara", "Valsad"],
        "HR": ["Ambala", "Bhiwani", "Charkhi Dadri", "Faridabad", "Fatehabad", "Gurugram", "Hisar", "Jhajjar", "Jind", "Kaithal", "Karnal", "Kurukshetra", "Mahendragarh", "Mewat", "Palwal", "Panchkula", "Panipat", "Rewari", "Rohtak", "Sirsa", "Sonipat", "Yamunanagar"],
        "HP": ["Bilaspur", "Chamba", "Hamirpur", "Kangra", "Kinnaur", "Kullu", "Lahaul Spiti", "Mandi", "Shimla", "Sirmaur", "Solan", "Una"],
        "JK": ["Anantnag", "Bandipora", "Baramulla", "Budgam", "Doda", "Ganderbal", "Jammu", "Kargil", "Kathua", "Kishtwar", "Kulgam", "Kupwara", "Leh", "Poonch", "Pulwama", "Rajouri", "Ramban", "Reasi", "Samba", "Shopian", "Srinagar", "Udhampur"],
        "JH": ["Bokaro", "Chatra", "Deoghar", "Dhanbad", "Dumka", "East Singhbhum", "Garhwa", "Giridih", "Godda", "Gumla", "Hazaribagh", "Jamtara", "Khunti", "Koderma", "Latehar", "Lohardaga", "Pakur", "Palamu", "Ramgarh", "Ranchi", "Sahebganj", "Seraikela Kharsawan", "Simdega", "West Singhbhum"],
        "KA": ["Bagalkot", "Bangalore Rural", "Bangalore Urban", "Belgaum", "Bellary", "Bidar", "Vijayapura", "Chamarajanagar", "Chikkaballapur", "Chikkamagaluru", "Chitradurga", "Dakshina Kannada", "Davanagere", "Dharwad", "Gadag", "Gulbarga", "Hassan", "Haveri", "Kodagu", "Kolar", "Koppal", "Mandya", "Mysore", "Raichur", "Ramanagara", "Shimoga", "Tumkur", "Udupi", "Uttara Kannada", "Yadgir"],
        "KL": ["Alappuzha", "Ernakulam", "Idukki", "Kannur", "Kasaragod", "Kollam", "Kottayam", "Kozhikode", "Malappuram", "Palakkad", "Pathanamthitta", "Thiruvananthapuram", "Thrissur", "Wayanad"],
        "LA": ["Leh", "Kargil", "Drass", "Nubra", "Sham", "Zanskar", "Changthang"],
        "LD": ["Lakshadweep"],
        "MP": ["Agar Malwa", "Alirajpur", "Anuppur", "Ashoknagar", "Balaghat", "Barwani", "Betul", "Bhind", "Bhopal", "Burhanpur", "Chhatarpur", "Chhindwara", "Damoh", "Datia", "Dewas", "Dhar", "Dindori", "Guna", "Gwalior", "Harda", "Hoshangabad", "Indore", "Jabalpur", "Jhabua", "Katni", "Khandwa", "Khargone", "Mandla", "Mandsaur", "Morena", "Narsinghpur", "Neemuch", "Panna", "Raisen", "Rajgarh", "Ratlam", "Rewa", "Sagar", "Satna",
              "Sehore", "Seoni", "Shahdol", "Shajapur", "Sheopur", "Shivpuri", "Sidhi", "Singrauli", "Tikamgarh", "Ujjain", "Umaria", "Vidisha"],
        "MH": ["Ahmednagar", "Akola", "Amravati", "Aurangabad", "Beed", "Bhandara", "Buldhana", "Chandrapur", "Dhule", "Gadchiroli", "Gondia", "Hingoli", "Jalgaon", "Jalna", "Kolhapur", "Latur", "Mumbai City", "Mumbai Suburban", "Nagpur", "Nanded", "Nandurbar", "Nashik", "Osmanabad", "Palghar", "Parbhani", "Pune", "Raigad", "Ratnagiri", "Sangli", "Satara", "Sindhudurg", "Solapur", "Thane", "Wardha", "Washim", "Yavatmal"],
        "MN": ["Bishnupur", "Chandel", "Churachandpur", "Imphal East", "Imphal West", "Jiribam", "Kakching", "Kamjong", "Kangpokpi", "Noney", "Pherzawl", "Senapati", "Tamenglong", "Tengnoupal", "Thoubal", "Ukhrul"],
        "ML": ["East Garo Hills", "East Jaintia Hills", "East Khasi Hills", "North Garo Hills", "Ri Bhoi", "South Garo Hills", "South West Garo Hills", "South West Khasi Hills", "West Garo Hills", "West Jaintia Hills", "West Khasi Hills"],
        "MZ": ["Aizawl", "Champhai", "Kolasib", "Lawngtlai", "Lunglei", "Mamit", "Saiha", "Serchhip", "Aizawl", "Champhai", "Kolasib", "Lawngtlai", "Lunglei", "Mamit", "Saiha", "Serchhip"],
        "NL": ["Dimapur", "Kiphire", "Kohima", "Longleng", "Mokokchung", "Mon", "Peren", "Phek", "Tuensang", "Wokha", "Zunheboto"],
        "OR": ["Angul", "Balangir", "Balasore", "Bargarh", "Bhadrak", "Boudh", "Cuttack", "Debagarh", "Dhenkanal", "Gajapati", "Ganjam", "Jagatsinghpur", "Jajpur", "Jharsuguda", "Kalahandi", "Kandhamal", "Kendrapara", "Kendujhar", "Khordha", "Koraput", "Malkangiri", "Mayurbhanj", "Nabarangpur", "Nayagarh", "Nuapada", "Puri", "Rayagada", "Sambalpur", "Subarnapur", "Sundergarh"],
        "PY": ["Karaikal", "Mahe", "Puducherry", "Yanam"],
        "PB": ["Amritsar", "Barnala", "Bathinda", "Faridkot", "Fatehgarh Sahib", "Fazilka", "Firozpur", "Gurdaspur", "Hoshiarpur", "Jalandhar", "Kapurthala", "Ludhiana", "Mansa", "Moga", "Mohali", "Muktsar", "Pathankot", "Patiala", "Rupnagar", "Sangrur", "Shaheed Bhagat Singh Nagar", "Tarn Taran"],
        "RJ": ["Ajmer", "Alwar", "Banswara", "Baran", "Barmer", "Bharatpur", "Bhilwara", "Bikaner", "Bundi", "Chittorgarh", "Churu", "Dausa", "Dholpur", "Dungarpur", "Ganganagar", "Hanumangarh", "Jaipur", "Jaisalmer", "Jalore", "Jhalawar", "Jhunjhunu", "Jodhpur", "Karauli", "Kota", "Nagaur", "Pali", "Pratapgarh", "Rajsamand", "Sawai Madhopur", "Sikar", "Sirohi", "Tonk", "Udaipur"],
        "SK": ["East Sikkim", "North Sikkim", "South Sikkim", "West Sikkim"],
        "TN": ["Ariyalur", "Chennai", "Coimbatore", "Cuddalore", "Dharmapuri", "Dindigul", "Erode", "Kanchipuram", "Kanyakumari", "Karur", "Krishnagiri", "Madurai", "Nagapattinam", "Namakkal", "Nilgiris", "Perambalur", "Pudukkottai", "Ramanathapuram", "Salem", "Sivaganga", "Thanjavur", "Theni", "Thoothukudi", "Tiruchirappalli", "Tirunelveli", "Tiruppur", "Tiruvallur", "Tiruvannamalai", "Tiruvarur", "Vellore", "Viluppuram", "Virudhunagar"],
        "TG": ["Adilabad", "Bhadradri Kothagudem", "Hyderabad", "Jagtial", "Jangaon", "Jayashankar", "Jogulamba", "Kamareddy", "Karimnagar", "Khammam", "Komaram Bheem", "Mahabubabad", "Mahbubnagar", "Mancherial", "Medak", "Medchal", "Nagarkurnool", "Nalgonda", "Nirmal", "Nizamabad", "Peddapalli", "Rajanna Sircilla", "Ranga Reddy", "Sangareddy", "Siddipet", "Suryapet", "Vikarabad", "Wanaparthy", "Warangal Rural", "Warangal Urban", "Yadadri Bhuvanagiri"],
        "TR": ["Dhalai", "Gomati", "Khowai", "North Tripura", "Sepahijala", "South Tripura", "Unakoti", "West Tripura"],
        "UP": ["Agra", "Aligarh", "Allahabad", "Ambedkar Nagar", "Amethi", "Amroha", "Auraiya", "Azamgarh", "Baghpat", "Bahraich", "Ballia", "Balrampur", "Banda", "Barabanki", "Bareilly", "Basti", "Bhadohi", "Bijnor", "Budaun", "Bulandshahr", "Chandauli", "Chitrakoot", "Deoria", "Etah", "Etawah", "Faizabad", "Farrukhabad", "Fatehpur", "Firozabad", "Gautam Buddha Nagar", "Ghaziabad", "Ghazipur", "Gonda", "Gorakhpur", "Hamirpur", "Hapur", "Hardoi", "Hathras", "Jalaun", "Jaunpur", "Jhansi", "Kannauj", "Kanpur Dehat", "Kanpur Nagar", "Kasganj", "Kaushambi", "Kheri", "Kushinagar", "Lalitpur", "Lucknow", "Maharajganj", "Mahoba", "Mainpuri", "Mathura", "Mau", "Meerut", "Mirzapur", "Moradabad", "Muzaffarnagar", "Pilibhit", "Pratapgarh", "Raebareli", "Rampur", "Saharanpur", "Sambhal", "Sant Kabir Nagar", "Shahjahanpur", "Shamli", "Shravasti", "Siddharthnagar", "Sitapur", "Sonbhadra", "Sultanpur", "Unnao", "Varanasi"],
        "UT": ["Almora", "Bageshwar", "Chamoli", "Champawat", "Dehradun", "Haridwar", "Nainital", "Pauri", "Pithoragarh", "Rudraprayag", "Tehri", "Udham Singh Nagar", "Uttarkashi"],
        "WB": ["Alipurduar", "Bankura", "Birbhum", "Cooch Behar", "Dakshin Dinajpur", "Darjeeling", "Hooghly", "Howrah", "Jalpaiguri", "Jhargram", "Kalimpong", "Kolkata", "Malda", "Murshidabad", "Nadia", "North 24 Parganas", "Paschim Bardhaman", "Paschim Medinipur", "Purba Bardhaman", "Purba Medinipur", "Purulia", "South 24 Parganas", "Uttar Dinajpur"],
        "OT": ["Others"]

    };
    $('#state').change(function () {
        var stateCode = $(this).val();
        var districtDropdown = $('#district');
        districtDropdown.prop('disabled', false).empty();
        districtDropdown.append('<option value="" selected>Select District</option>');

        if (stateDistricts[stateCode]) {
            $.each(stateDistricts[stateCode], function (index, district) {
                districtDropdown.append('<option value="' + district + '">' + district + '</option>');
            });
            $('#district').selectpicker('refresh');
        }
    });

    $('#resetBtn').click(function () {
        if (confirm('Are you sure you want to reset all data?')) {
            location.reload();
        }
    });


</script>*@