<script>
    function togglePassword(inputId, el) {
        var input = document.getElementById(inputId);
        var icon = el.querySelector('i');

        if (input.type === "password") {
            input.type = "text";
            icon.innerHTML = "visibility_off";
        } else {
            input.type = "password";
            icon.innerHTML = "visibility";
        }
    }

    function changePassword() {
        var data = {
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
            OldPassword: $('#OldPassword').val(),
            NewPassword: $('#NewPassword').val(),
            ConfirmPassword: $('#ConfirmPassword').val()
        };

        $.ajax({
            url: '@Url.Action("ChangePassword", "Home")',
            type: 'POST',
            data: data,
            success: function (res) {
                alert(res.Message);

                if (res.IsSuccess) {
                    $('#changePasswordModal').modal('hide');

                    // refresh full page
                    location.reload();
                }

                if (res.IsSuccess && res.Logout) {
                    window.location.href = '@Url.Action("Index", "Login")';
                }
            }
        });
    }
    function closeChangePasswordModal() {
        $('#changePasswordModal').modal('hide');

        // refresh full page
        location.reload();
    }
</script>
<style>
    .input-group {
        width: 100%;
    }

    .input-group .form-control {
        height: 38px;
        border: 1px solid #ccc;
        border-right: none;
        box-shadow: none;
    }

    .input-group-addon {
        background: #fff;
        border: 1px solid #ccc;
        border-left: none;
        cursor: pointer;
    }

    .input-group-addon i {
        font-size: 20px;
        color: #555;
    }

    .form-group label {
        font-weight: 600;
        margin-bottom: 5px;
    }
      .password-visible {
    letter-spacing: 0.5px;
}
      .input-group-addon {
        cursor: pointer;
        background: #eee;
    }
</style>

@model SchoolMVC.Models.ChangePasswordVM
@{
   
    Layout = "~/Views/Shared/_SchoolLayoutDashboard.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="modal fade" id="changePasswordModal" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header bg-green">
                <h4 class="modal-title">Change Password</h4>
            </div>

            <div class="modal-body">

                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label>Old Password</label>
                    <div class="input-group">
                        @Html.PasswordFor(m => m.OldPassword,
            new { @class = "form-control", id = "OldPassword" })

                        <span class="input-group-addon"
                              onclick="togglePassword('OldPassword', this)">
                            <i class="material-icons">visibility</i>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>New Password</label>
                    <div class="input-group">
                        @Html.PasswordFor(m => m.NewPassword,
            new { @class = "form-control", id = "NewPassword" })

                        <span class="input-group-addon"
                              onclick="togglePassword('NewPassword', this)">
                            <i class="material-icons">visibility</i>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Confirm Password</label>
                    <div class="input-group">
                        @Html.PasswordFor(m => m.ConfirmPassword,
            new { @class = "form-control", id = "ConfirmPassword" })

                        <span class="input-group-addon"
                              onclick="togglePassword('ConfirmPassword', this)">
                            <i class="material-icons">visibility</i>
                        </span>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="changePassword()">Update</button>
                <button type="button"
                        class="btn btn-danger"
                        onclick="closeChangePasswordModal()">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>
