@model SchoolMVC.Models.ChangePasswordVM
@{
    ViewBag.Title = "Change Password";
}

<div class="card">
    <div class="header bg-green">
        <h2>Change Password</h2>
    </div>

    <div class="body">

        @Html.AntiForgeryToken()

        <div class="form-group">
            <label>Old Password</label>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "OldPassword" })
        </div>

        <div class="form-group">
            <label>New Password</label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "NewPassword" })
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword" })
        </div>

        <button type="button" class="btn btn-success" onclick="changePassword()">
            Update Password
        </button>
    </div>
</div>

<script>
    function changePassword() {

        var data = {
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
            OldPassword: $('#OldPassword').val(),
            NewPassword: $('#NewPassword').val(),
            ConfirmPassword: $('#ConfirmPassword').val()
        };

        $.ajax({
            url: '@Url.Action("ChangePassword", "Home")',
            type: 'POST',
            data: data,
            success: function (res) {
                alert(res.Message);

                if (res.IsSuccess && res.Logout) {
                    window.location.href = '@Url.Action("Index", "Login")';
                }
            },
            error: function () {
                alert('Something went wrong');
            }
        });
    }
</script>
